.s-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    border: 1px solid #bababa;
    border-radius: 8px;

    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;

    padding: 28px;
}
